{% extends "base.html" %}

{% load i18n %}

{% block title %}{% trans "Welcome" %}{% endblock %}

{% block content %}
<div id="center">
        <svg width="200" height="64.53049130738779" viewBox="0 0 200 64.53049130738779" class="css-1j8o68f"><defs id="SvgjsDefs1001"></defs><g id="SvgjsG1007" featurekey="ujU5uU-0" transform="matrix(4.45037841796875,0,0,4.45037841796875,-5.25144576945901,-25.100135806282637)" fill="#111111"><path d="M1.48 20 l-0.26 0 s0.14 -1.38 0.14 -2.62 l0 -1.7 l0.3 0 l0 1.12 c0 1.6 1.6 3.04 4.04 3.04 c1.84 0 3.26 -0.8 3.26 -2.34 c0 -3.42 -7.78 -1.92 -7.78 -6.9 c0 -2.3 1.46 -3.96 4.28 -3.96 c1.46 0 2.32 0.48 2.82 0.92 c0.56 -0.02 0.82 -0.24 1.04 -0.78 l0.26 0 s-0.38 1.94 -0.38 2.8 l0 1.22 l-0.3 0 l0 -1.18 c0 -1.5 -1.22 -2.68 -3.46 -2.68 c-2.06 0 -3.22 0.94 -3.22 2.42 c0 3.4 7.8 1.78 7.8 6.88 c0 2.06 -1.44 3.9 -4.32 3.9 c-1.52 0 -2.54 -0.5 -3.16 -1.02 c-0.72 0 -0.92 0.38 -1.06 0.88 z M11.26 20 l0 -0.3 l1.32 0 l0 -13.76 l-1.34 0 l0 -0.3 l3.58 0 l0 7.4 l0.04 0 c0.2 -0.52 0.92 -2.18 3.24 -2.18 c1.82 0 2.82 0.78 2.82 2.74 l0 6.1 l1.34 0 l0 0.3 l-4.76 0 l0 -0.3 l1.18 0 l0 -6.58 c0 -1.28 -0.32 -1.78 -1.24 -1.78 c-1.9 0 -2.62 2.22 -2.62 3.26 l0 5.1 l1.2 0 l0 0.3 l-4.76 0 z M22.839999999999996 20 l0 -0.3 l1.32 0 l0 -8.4 l-1.32 0 l0 -0.3 l3.52 0 l0 2.12 l0.04 0 c0.38 -1.08 1.16 -2.26 2.6 -2.26 c1.12 0 2.02 0.68 2.02 1.84 c0 1.1 -0.76 1.7 -1.64 1.7 c-0.22 0 -0.48 -0.04 -0.74 -0.12 l0 -0.16 c0.62 0.1 0.74 -0.68 0.74 -1.34 c0 -0.94 -0.3 -1.46 -0.9 -1.46 c-0.54 0 -1.02 0.42 -1.4 1.04 c-0.44 0.72 -0.68 1.7 -0.68 2.24 l0 5.1 l1.54 0 l0 0.3 l-5.1 0 z M32.660000000000004 17.32 l0 -6.02 l-1.3 0 l0 -0.3 l0.5 0 c1.84 0 2.7 -2.12 2.74 -3.3 l0.3 0 l0 3.3 l2.28 0 l0 0.3 l-2.28 0 l0 6.58 c0 1.1 0.18 1.76 1 1.76 c0.46 0 1.24 -0.26 1.24 -1.54 l0.3 0 c0 0.88 -0.36 2.04 -2.2 2.04 c-1.94 0 -2.58 -1.26 -2.58 -2.82 z M37.94 20 l0 -0.3 l1.32 0 l0 -8.4 l-1.32 0 l0 -0.3 l3.52 0 l0 2.12 l0.04 0 c0.38 -1.08 1.16 -2.26 2.6 -2.26 c1.12 0 2.02 0.68 2.02 1.84 c0 1.1 -0.76 1.7 -1.64 1.7 c-0.22 0 -0.48 -0.04 -0.74 -0.12 l0 -0.16 c0.62 0.1 0.74 -0.68 0.74 -1.34 c0 -0.94 -0.3 -1.46 -0.9 -1.46 c-0.54 0 -1.02 0.42 -1.4 1.04 c-0.44 0.72 -0.68 1.7 -0.68 2.24 l0 5.1 l1.54 0 l0 0.3 l-5.1 0 z"></path></g></svg>
        <div style="font-size: 0.3em; font-style: italic; color: #444">(ˈʃɔɹtɚ)</div>
</div>
{% endblock %}
